
html,body{
    height: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
nav{
   justify-content: space-between;
   
   width: 100%;
   display: flex;
   height: 100px;
   background-color: #00b164;
   z-index: 5;
    
}
.imagine-icon img{
    width: 120px;
    padding: 1rem;
}
.nav-links{
    align-items: center;
    display: flex;
    height: 100%;
    
}
.nav-links li{
    list-style: none;
    padding: 0rem 2rem;
    
}
.nav-links a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 23px;
    letter-spacing: 3px;

}
.burger{
    display: none;
}
.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: white;
    transition: width .3s;
}

.cool-link:hover::after{
    width: 100%;
    transition: width .3s;
    
}
header{
    width: 100%;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background: #00b164;
    position: relative;
}
.title{
    font-size: 6rem;
    color: white;
    padding: 1rem;
}
.paragraf-sanatate{
    font-size: 20px ;
    color: white;
}
.sos-covid-19{
    
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    
}
.link-covid-19{

    padding: 1rem;
    background: red;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 2rem;
    border-radius: 50%;
    border: 2px solid white;
    transition: background 0.3s ease;
}
.link-covid-19:hover{
    background: none;
}
.link-catre-container{
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 18px;
    margin: 2rem;
    border: 2px solid white;
}
.space-distorsiune{
     width: 100%; 
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    
}
 .distorsiune{
     padding: 2rem;
    width: 500px;
    height: 300px;
    object-fit: cover;
    
} 
#container1{
    display: flex;
    background-color:#116466;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 3rem;
}
#container1 h3{
    font-size: 3.5rem;
    padding: 2rem 3rem;
}
#container1 p{
    padding:  0.5rem 2rem; 
    font-size: 18px;
    margin: 0 1rem;
}

#container3{
    width: 100%;
    
    background-color: #10975f;
}
.container3-h2{
    font-size: 2rem;
    padding: 1.5rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.container3-p{
    padding: 1rem;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

#container4{
    width: 100%;
    background-color:#57ba98 ;
   
    position: relative;
}
.h2-container4{
    color: #ffffff;
    padding: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}
.container4-p{
    color: #ffffff;
    font-size: 18px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}
.container4-ul li{

    color: #ffffff;
    font-size: 16px;
    padding: 0.2rem 2rem;
    font-family: 'Roboto', sans-serif;


}
.container4-ul{
    list-style: square outside none;
}
.img-container4{
    display: flex;
    justify-content: center;
}
#container4 img{
    width: 200px;
    /* position: absolute; */
    bottom:9rem;
    margin-bottom: 3rem;
}
#container5{
    width: 100%;
    background-color: #0d7e4f;
    
}
.img-container5{
    display: flex;
    justify-content: center;
}
#container5 img{
    padding-top: 2rem;
    width: 300px;
}
.container5-h2{
    color: #ffffff;
    padding: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}
.container5-p{
    color: #ffffff;
    font-size: 18px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}
#container6{
    width: 100%;
    background-color:#215f45 ;
    color: white;
}
#container6 img{
    width: 300px;
    padding: 2rem;
}
#container6 h2{
    

    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
}
#container6 p{
   
    font-size: 18px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}
.imagine-container6{
    display: flex;
    justify-content: center;
}
.container6-ol li{

  
    font-size: 16px;
    padding: 0.2rem 2rem;
    font-family: 'Roboto', sans-serif;
}
#container7{
    width: 100%;
    
    background-color:#00a05d ;
}
#container7 img{
    width: 300px;
    margin-bottom: 3rem;
}

#container7 h1{
    color: #ffffff;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}
#container7 p{
    color: #ffffff;
    font-size: 18px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}
.lista-container7 li{
    color: #ffffff;
    font-size: 16px;
    padding: 0.2rem 2rem;
    font-family: 'Roboto', sans-serif;
}
.imagine-container7{
    display: flex;
    justify-content: center;
    position: relative;
}
.footer{
    width: 100%;
    background-color: black;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.footer p {
    padding: 0.3rem;
    font-size: 14px;
}
.contact a{
    color: white;
    font-size: 30px;
    padding: 0.3rem 0.5rem;
    transition: 0.3s;
}
.contact a:hover{
    color: rgb(128, 128, 128);
    transform: scale(0.2); 
}
