@media screen and (max-width:960px){
    html,body{
        overflow-x: hidden;
    }
    nav{
        position: fixed;
        
    }
    
    .nav-links{
        
        position: fixed;
        top: 6rem;
        flex-direction: column;
        background-color: #85dcb8;
        right: -500px;
        height: 600px;
        transition: all 0.3s ease;
        justify-content: center;
        text-align: center;
    }
    .nav-links li{
        padding: 2rem 0;
        opacity: 0;
    }
    
    .cool-link:hover::after{
    width: 0%;
    transition: width .3s;
    }
    .burger{
        display: block;
        margin: 2rem;
    }
    .burger div{
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: white;
        transition: all 0.3s ease;
    }
    header{
        height: 100%;
    }
    .title{
        font-size: 4rem;
    }.paragraf-sanatate{
        font-size: 17px ;
        
    }
    .link-catre-container{
        
        padding: 1rem;
        font-size: 15px;
        
    }
    .nav-active{
        right: 0px;
    }

@keyframes navSlideIn {
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
#container1{
    flex-direction: column;
}
.distorsiune{
    padding: 2rem 0;
    width: 400px;
    height: 200px;
}
}